.slans_dept_select_input {
  width: 100%;
  min-height: 32px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px 7px;
}
.slans_dept_select_input li{
  display: inline-block;
  background: #CCC;
  margin: 3px 5px 2px 0;
  padding: 0px 10px;
  line-height: 24px;
}
.slans_user_select_input {
  width: 100%;
  min-height: 32px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px 7px;
}
.slans_user_select_input li{
  display: inline-block;
  background: #CCC;
  margin: 3px 5px 2px 0;
  padding: 0px 10px;
  line-height: 24px;
}
